<h1>Sign up</h1>

<%= form_with(model: @user, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

  <%= f.label :namme, 'Name' %>
  <%= f.text_field :name %>
  
  <%= f.label :email, 'Email' %>
  <%= f.email_field :email %>
  
  <%= f.label :passwoed, 'Password' %>
  <%= f.password_field :password %>
  
  <%= f.label :password_confirmation, 'Confirmation'%>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit 'Sign up' %>
<% end %>

